@import '~react-redux-toastr/src/styles/index';
@import '~react-big-calendar/lib/css/react-big-calendar.css';
@import '~react-datetime/css/react-datetime.css';

/* Variables */
$header-height: 50px;
$color-negative: #db2828;

#header {
  height: $header-height;
}

#main-container {
  padding-top: $header-height;
}

.page-container{
  padding-top: 50px;
}

.ui.container.narrow {
  width: 400px;
}

.float-left {
  float: left;
}

.hover-warning:hover {
  background-color: $color-negative !important;
}

.ui.divider.thin {
  margin: 0.5rem 0;
}

/* Schedule */
.rbc-calendar {
  height: auto;
  display: block;

  .rbc-month-view {
    display: block;

    .rbc-month-row {
      min-height: 100px;
      height:auto;

      .rbc-row-content {
        .rbc-row {
          .rbc-row-segment {
            margin: 3px 0;

            .rbc-event {
              .rbc-event-content {
                .event-data-container {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;

                  .event-data-item {
                    padding: 3px;
                    flex-grow:1;
                    flex-shrink: 0;

                  }
                  .event-data-item-name {
                    .icon-sick {
                      margin-left: 3px;
                    }
                  }
                  .event-data-item-time {
                    flex-grow: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.icon-sick {
  color: red;
  background-color: white;
  padding: 3px;
}

p.details {
  font-size: 0.85rem;
  color: #666666
}

.assistant-share-popup {
  .ui.segment {
    padding: 1rem 0 0 0;
  }
}

.day-control-group {
  flex-basis: #{100% / 7};
  max-width: #{100% / 7};
  z-index: 100;
  margin-left:0.4rem;
  height:1.6rem;
}

.ui.button.day-control-btn {
  padding:0.2rem;
  box-shadow: none;
  :hover {
    box-shadow: inherit;
  }
}

.ui.button.day-control-btn.disabled {
  display: none;
}

.ui.button.day-control-btn.copied {
  background-color: #c9ffcb !important;
}

.redux-toastr .top-left, .redux-toastr .top-right, .redux-toastr .top-center {
  top: 50px;
}
