@import '~react-redux-toastr/src/styles/index';
@import '~react-big-calendar/lib/css/react-big-calendar.css';
@import "~react-datetime/css/react-datetime.css";

/* Variables */
$header-height: 50px;
$color-negative: #db2828;

#header {
  height: $header-height;
}

#main-container {
  padding-top: $header-height;
}

.page-container{
  padding-top: 50px;
}

.ui.container.narrow {
  width: 400px;
}

.float-left {
  float: left;
}

.hover-warning:hover {
  background-color: $color-negative !important;
}

.ui.divider.thin {
  margin: 0.5rem 0;
}

.rbc-month-view {
  display: grid;
}

.rbc-month-row {
  height: inherit;
  min-height: 100px;
}

.rbc-row-segment {
  margin: 3px 0;
}
